*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --temp-animeCard: 0.3s;
    --skil-textAnim : 1.5s;
}

body{
    width: 100vw;
    max-width: 100%;
    background-color: rgb(100, 149, 237);
}

p{
    font-size: 1.25em; /*25 PX*/
}

.header{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
    gap: 5px;
    padding: 20px 10px;
    
}

#header-info> * {
    color: rgb(255, 235, 205);
    font-size: 3em;
    text-align: center;
    line-height: 1.4em;
}

#header-info > span{
    font-size: 1.25em;
}

#header-img{
    max-width: 100px;
    min-width: 50px;
    min-height: 50px;
    max-height: 100px;
}
#header-img  > img {
    width: 100%;
    object-fit: fill;
}

#QuemSou{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#QuemSou > h2{
    font-size: 2em;
    margin: 20px;
}

#QuemSou > p {
    margin-left: 10px;
    margin-right: 10px;
    max-width: 800px;
    text-align: center;

}

#skills{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

}

.conteinerSkills{
    width: 100%;
    max-width: 900px;
    min-height: 200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: space-evenly;
    padding: 0 10px;
    gap: 20px;
    
} 

#skills-text{
    font-size: 2.5em;
    color: rgb(255, 255, 255);
    animation: skillText var(--skil-textAnim) ease;
}

.conteinerImg{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(29, 106, 243);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 5px 5px rgb(3, 53, 139);
}

.conteinerImg:hover{
    animation: bouce 1.2s linear reverse;
}

.conteinerImg > img{
    max-width: 60%;
}

.lang-name{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
}

@keyframes skillText{
    from{
        opacity: 0;
        transform: translate3d(-20vw, 0px, 0px)
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}

@keyframes bouce {
    20%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-50px);
    }
    60%{
        transform: translateY(0);
    }
    80%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(0);
    }
}
/*ANIMAÇÃO DOS CARDS*/
[data-anim]{
    opacity: 0;
    transition: var(--temp-animeCard);
}

[data-anim="left"]{
    transform: translate3d(-100px, 0px, 0px);
}

[data-anim="righ"]{
    transform: translate3d(50px, 0px, 0px);
}

[data-anim].animate {
    transform: translate3d(0px,0px,0px);
    opacity: 1;
}


@media screen and (max-width:800px){
    #header-info > h1{
        font-size: 2.4em;
    }    
}