*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1.04em;
}

:root{
    --temp-animeCard: 0.5s;
}

body{
    width: 100vw;
    max-width: 100%;

}

.header{
    background-color: black;
    height: 250px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    
}

.header > h1 {
    color: blanchedalmond;
    font-size: 2.5em;
    align-items: center;
}

#header-img{
    max-width: 130px;
    min-width: 50px;
    min-height: 50px;
    max-height: 130px;
    overflow: hidden;
    border-radius: 50%;

}
#header-img  > img {
    width: 100%;
}


.skills{
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.conteinerSkills{
    background-color: rebeccapurple;
    width: 80vw;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, auto));
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 20px;
    
} 


#skills-text{
    font-size: 2em;
    color: ivory;
    animation: skillText 1.5s ease;
    margin: 30px;
}

.conteinerImg{
    height: 30vh;
    width: 30vh;
    max-width: 250px;
    max-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: red;

}

.conteinerImg > img{
    max-width: 60%;
}

.lang-name{
    color: silver;
    font-size: 1.1em;
    text-transform: uppercase;
}

@keyframes skillText{
    from{
        opacity: 0;
        transform: translateX(-50%);
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}

/*ANIMAÇÃO DOS CARDS*/
[data-anim]{
    opacity: 1;
    transition: 0.5s;
}

[data-anim="left"]{
    transform: translate3d(-150px, 0px, 0px);
}

[data-anim="righ"]{
    transform: translate3d(150px, 0px, 0px);
}

[data-anim].animate {
    transform: translate3d(0px,0px,0px);
    opacity: 1;
}