*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.04em;
}

body{
    background-color: floralwhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header {
    height: 33vh;
    width: 100vw;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

}

.conteiner-header{
    width: 15vh;
    height: 15vh;
    /*background-color: red;*/
    border: azure 2px solid;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteiner-header > img {
    width: 100%;
    height: auto;
}

#header-titulo{
    color: blanchedalmond;
    font-size: 2em;
}
#span-header{
    font-size: 1.3em;
    color: blanchedalmond;
}

#infos-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}


#Section-main{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    
}

#titulo-main{
    text-align: center;
    width: 90vw;
    font-size: 1.5em;
    margin-top: 20px;
    color: rgb(192, 70, 0);
}

#subTitulo-main{
    text-align: center;
    color: rgb(192, 3, 3);
    font-size: 1.3em;
    margin: 20px;
}

.p-simples{
    text-indent: 20px;
    margin-block-end: 10px;
}

#contratar_servico_text{
    text-align:center;
    color: rgb(192, 3, 3);
    font-weight: bolder;
    font-size: 1.3em;
}

.Contratar_servicos{
    width: 90vw;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.servico-text{
    font-size: 1em;
    font-weight:600;
    text-align: center;
    color:rgb(255, 255, 255);
}
.conteiner_servicos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    height: 300px;
    border-radius: 10%;
    background-color: rgba(95, 50, 22, 0.8);
    padding: 10px;
    margin: 10px;
}

/*
.conteiner_servicos::before{
    content: "➔";
    position: relative;
    z-index: 2;
    left: 0;
    animation: infinite setasAnim 0.5s alternate;

}
*/
.conteiner_servicos::before{
    content: "";
    position: relative;
    width: 100%;
    height: 20px;
    border-radius: 20px;
    background-color: rgb(219, 112, 50);

}

.conteiner_servicos > img{
    width: 60%;
    height: auto;
}

#pq_contratar{
    background-color: rgb(255, 169, 119);
    width: 100vw;
}

#pq_contratar > div {
    height: 200px;
}

#pq_contratar > h2{
    font-size: 2em;
    color: white;
    text-align: center;
    margin: 20px;
}



footer{
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 10vh;
}
@keyframes setasAnim {
    from{
        transform: translateX(-10px);
    }to{
        transform: translateX(10px);
    }
}
